.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  /* background-color: #393E46; */
  background-color: #212A3E;
}

h1, h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #2947ca;
}

p {
  font-size: 2rem;
  color: #4473d2;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.play-button {
  text-align: center;
  align-items: center;
  margin-top: 8rem;
  padding: 18px 55px;
  border-radius: 5px solid green;
  color: green;
  
}

.button-area {
  margin-bottom: 9%;
  margin-top: 8%;
}

.play-button:hover {
  color: #fff;
  background-color: green;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

} 

@media (max-width: 600px) {
  h1, h2 {
    font-size: 60px;
  }

  footer {
    padding-bottom: 75px;
  }

}

@media (max-width: 440px) {
  h1, h2 {
    font-size: 40px;
  }

  footer {
    padding-bottom: 40px;
  }
}

@media (max-width :320px) {
  h1, h2 {
    font-size: 30px;
  }
}


